// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// $background-color:  #3399ff;
$background-color:  #30827b;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text2 styles
// ----------------------------------------------------------------------------
.widget-text2 {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
