<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
   
    <div data-event-click="redirect" data-id="alarm_widget" data-view="Alarm" data-title="ROUTER">

    </div>

   

    
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="alarm_widget" data-view="Alarm" data-title="ROUTER"></div>
  </li>
  </ul>
</div>