<script type='text/javascript'>
$(function() {
	// These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
	Dashing.widget_base_dimensions = [470, 240]
	Dashing.numColumns = 4
//	Dashing.gridsterLayout('[{"col":1,"row":1},{"col":2,"row":1},{"col":3,"row":1},{"col":5,"row":1},{"col":6,"row":1},{"col":7,"row":1}, {"col":1,"row":2},{"col":3,"row":2},{"col":4,"row":2},{"col":5,"row":2},{"col":6,"row":2},{"col":7,"row":2},{"col":1,"row":3},{"col":2,"row":3},{"col":3,"row":3},{"col":4,"row":3},{"col":5,"row":3},{"col":6,"row":3},{"col":7,"row":3},{"col":2,"row":4}, {"col":4,"row":4},{"col":6,"row":4}]')
});
</script>

<% content_for :title do %>KSA Dashboard<% end %>
<table style="background: #1F4E79;"><tr>
<td width=15%>
<div data-view="Textla" data-title="KSA" ></div>
<td width=8%>
<sup style="position: relative; top: -10px; left: -60px"><h5>가산DT센터</h5></sup>
<td width=67% align=center>
<div style="position: relative; left: -100px;" data-view="Textla" data-title="공개 교육 수강 신청 현황"></div>
<td width=10%>
<div data-view="Clock4ksa"></div>
</tr></table>

<div class="gridster">
<!--
<div data-view="Image" style='background:white' data-image="/logo/ksa_logo.388x60.png"></div>
<div data-view="Text2" data-title=""></div>
<div data-view="Text2" data-title=""></div>
-->
  <ul>

	<!-- 1st row -->

    <!-- KSA Logo -->
    <!--
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
		<div data-view="Clock"></div>
		<i class="fa fa-clock-o icon-background"></i>
	</li>
    -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect1" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect2" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect3" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect4" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect5" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect6" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<!-- 2nd row -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect7" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect8" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect9" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect10" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect11" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect12" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect13" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect14" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<!-- 3rd row -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect15" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect16" data-view="Hotfloat4ksa2" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
</ul>

</div>
