$background-color: #00C176;

/* Desktop Styles */
.widget-update-color {
  background-color: transparent;
  padding: 40px;

  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    label {
      padding: 10px;
      margin-right: 10px;
      font-size: 25px;
      text-align: left;
    }

    input {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 20px;

      &[type="color"] {
        padding: 0;
        height: 40px;
        max-width: 50px;
      }

      &[type="submit"] {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 500px;
        padding: 10px;
        font-size: 25px;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  #update-color-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    width: 1000px;
    height: 50px;
    text-align: center;
    font-size: 25px;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .widget-update-color {
    padding: 20px;

    .form-group {
      flex-direction: column;

      label {
        margin-bottom: 10px;
        font-size: 18px;
      }

      input {
        width: 100%;
        max-width: 100%;
        font-size: 16px;

        &[type="color"] {
          height: 30px;
          width: 30px;
        }

        &[type="submit"] {
          width: 100%;
          max-width: 100%;
          font-size: 20px;
        }
      }
    }

    #update-color-message {
      top: 20px;
      width: 100%;
      max-width: 100%;
      font-size: 20px;
    }
  }
}
