// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #1F4E79;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-textla {

  background-color: $background-color;

  h1 { 
    font-size: 3em;
//    color: #000000;
  }

  h2 { 
    font-size: 2em;
//    color: #000000;
  }

}
