<script type='text/javascript'>
$(function() {
	// These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
	Dashing.widget_base_dimensions = [370, 320]
	Dashing.numColumns = 5
	Dashing.gridsterLayout('[{"col":1,"row":1},{"col":2,"row":1},{"col":3,"row":1},{"col":4,"row":1},{"col":5,"row":1},{"col":1,"row":2},{"col":2,"row":2},{"col":3,"row":2},{"col":4,"row":2},{"col":5,"row":2},{"col":1,"row":3},{"col":2,"row":3},{"col":3,"row":3},{"col":4,"row":3},{"col":5,"row":3}]')
});
</script>

<% content_for :title do %>KSA Dashboard<% end %>
<table style="background: #1F4E79;"><tr>
<td width=15%>
<div data-view="Textla" data-title="KSA" ></div>
<td width=8%>
<sup style="position: relative; top: -10px; left: -60px"><h5>가산DT센터</h5></sup>
<td width=67% align=center>
<div style="position: relative; left: -100px;" data-view="Textla" data-title="공개 교육 수강 신청 현황"></div>
<td width=10%>
<div data-view="Clock4ksa"></div>
</tr></table>

<div class="gridster">
  <ul>

	<!-- 1st row -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect31" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect32" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect33" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect34" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect55" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	
	<!-- 2nd row -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect36" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect37" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect38" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect39" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect40" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<!-- 3rd row -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect41" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect42" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect43" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect44" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
		<div data-id="lect45" data-view="Hotfloat4ksa3" data-title="" data-cool="90" data-warm="50" ></div>
	</li>

</ul>

</div>
