

<div class="container">
<div data-id="my_widget" data-view="Login"></div>
</div>


<style>

.container {
    # display: flex;
#     justify-content: center;
#     align-items: center;
    
    height: 100vh;
    width: 100vw;
}


</style>