// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0D78D5;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-text4 {

  background-color: $background-color;

  h1 { 
    font-size: 3em;
  }

  h2 { font-size: 2em; }

  .end-date {
    margin-top: 10px;
    color: #FFFF66;
  }

}
